@tailwind base;
@tailwind components;
@tailwind utilities;



:root{
    --bg-black-900:#f2f2fc  ;
    --bg-black-100:#fdf9ff ;
    --bg-black-50:#e8dfec  ;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
    --text-info:#7d8da1;
    --bg-light:rgba(132,139,200,0.18);
    --skin--color1:#4863A0;
    --skin--color2:#0C2340;

}

  /* ==========================================================================
    Theme
  ========================================================================== */
.jaune{
  --skin--color1:#CDA323;
  --skin--color2:#8B6914;
}

.rouge{
  --skin--color1:#A61B1B;
  --skin--color2:#5C0404;

}

.vert{
  --skin--color1:#1F9B4F;
  --skin--color2:#184E29;
}

.rose{
  --skin--color1:#F021B2;
  --skin--color2:#701053;

}

body.dark
{
    --bg-black-900:#151515  ;
    --bg-black-100:#222222;
    --bg-black-50:#393939  ;
    --text-black-900:#FFFFFF;
    --text-black-700:#E9E9E9;
    --text-info:#dce1eb;
    --bg-light:#363949;
    transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
}

body{
    font-family: poppins, sans-serif;
    background-color: var(--bg-black-900);
    color: var(--text-black-900);
    overflow-x:hidden;
    transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
}

a{
    color: var(--text-black-900);
    text-decoration: none;
}

small{
    font-size: 0.75rem;
}

.profil-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    overflow: hidden;
}

.submit{
    background-color: var(--skin--color1);
}

ul{
    list-style-type:none ;
}


::selection {
    color: var(--text-light);
  }


  img,
  picture {
    max-width: 100%;
    display: block;
  }

label {
  padding-bottom: 5px;
  font-size: 13px;
}

input {
  padding: 5px 10px ;
  font-size: 16px;
  width: 100%;
  border-radius:0 3px 3px 0;
  border: none;
  background-color: var(--bg-light);
  color: var(--text-black-900);
}

input[type=file]{
  background-color: transparent;
}

select,
option,
textarea{
  background-color: transparent;
}

  .style-switcher{
    position: fixed;
    right: 0;
    top: 100px;
    padding: 15px;
    width: 200px;
    border: 1px solid var(--bg-black-50);
    background: var(--bg-black-100);
    z-index: 101;
    border-radius: 5px;
    transition:all 0.5s ease;
    transform: translateX(100%);
 }

 .style-switcher.open{
     transform: translateX(-25px);
 }

 .style-switcher .s-icon{
     position: absolute;
     height: 40px;
     width: 40px;
     text-align: center;
     font-size: 20px;
     background: var(--bg-black-100);
     color:var(--text-black-900);
     right: 100%;
     border: 1px solid var(--bg-black-50);
     margin-right: 25px;
     cursor: pointer;
     transition:all 0.5s ease;
     border-radius: 50%;
 }

 .style-switcher .s-icon i{
     line-height: 40px;
 }

 .style-switcher .style-switcher-toggler{
     top: 0;
 }

 .style-switcher .day-night{
     top: 55px;
 }

 .style-switcher h4{
     margin: 0 0 10px;
     color: var(--text-black-700);
     font-size: 16px;
     font-weight: 600;
     text-transform: capitalize;
 }

 .style-switcher .colors{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }

 .style-switcher .colors span{
     display: inline-block;
     height: 30px;
     width: 30px;
     border-radius: 50%;
 }

 .style-switcher .bleu{
    background: linear-gradient(310deg,#4863A0 0%,#0C2340  100%);
 }

 .style-switcher .rouge{
    background: linear-gradient(310deg,#A61B1B 0%,#5C0404  100%);
 }

 .style-switcher .vert{
    background: linear-gradient(310deg,#1F9B4F 0%,#184E29  100%);
 }

 .style-switcher .rose{
   background: linear-gradient(310deg,#F021B2 0%,#701053  100%);
 }
 .style-switcher .jaune{
   background: linear-gradient(310deg,#CDA323 0%,#8B6914  100%);
 }

 button{
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: 600;
 }

 h2{
  position: relative;
  font-weight: 800;
 }

 h2::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 78px;
    background: linear-gradient(to Left,var(--skin--color2),var(--skin--color1));
    border-radius: 20px;
 }

 h2::after{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 48px;
  background: linear-gradient(to Left,var(--skin--color2),var(--skin--color1));
  border-radius: 20px;
}

.crud-card{
  background: linear-gradient(to bottom,var(--bg-black-100),var(--bg-black-50));
  border-radius: 3px;
  box-shadow: 1px 2px 10px 1px #080c21;
}

thead{
  border-bottom: 2px solid var(--skin--color1);
}

tbody tr{
  border-bottom: 1px solid var(--bg-light);
  transition: all ease 0.3s ;
}

tbody tr:hover{
  background-color: var(--bg-light);
  transition: all ease 0.3s ;
}

.pagination{
  background-color: var(--bg-black-900);
  border-radius: 5px;
  transition: all ease 0.3s ;
  width: 20px;
  height: 20px;
  position: relative;
  font-size: 12px;
}

.pagination.active{
  background: linear-gradient(to Left,var(--skin--color2),var(--skin--color1));
  color: white;
  transition: all ease 0.3s ;
}


.pagination:hover{
  background: linear-gradient(to Left,var(--skin--color2),var(--skin--color1));
  color: white;
  transition: all ease 0.3s ;
}


.pagination i{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% ,-50%);
}



.btn-add{
  color: var(--skin--color1);
  border: 2px solid var(--skin--color1);
  transition: all ease 0.3s ;
}

.btn-add:hover{
  background-color: var(--skin--color1);
  color: white;
  transition: all ease 0.3s ;
}

.input-field{
  background-color: var(--bg-light);
  border-radius: 3px;
  padding: 5px 7px;
}

.input-field.match{
  border: 4px solid #1bb51b;
  background-color:#1bb51b ;
  color: white;
  transition: all ease 0.3s ;
}

.input-field.nomatch{
  border: 4px solid #b51b1b;
  background-color:#b51b1b ;
  color: white;
  transition: all ease 0.3s ;
  animation: shake 1s ease-in-out ;
}

.input-field input{
  background-color:transparent;
  user-select: none;
}

.prvlg-switcher input{
  display: none;
}

.prvlg-switcher label{
  content: '';
  cursor: pointer;
  position: relative;
  height: 25px;
  width: 50px;
  background-color: #a9a9a9;
  border-radius: 20px;
  transition: all ease 0.3s ;
}

.prvlg-switcher label::before{
  content: '';
  position: absolute;
  height: 25px;
  width: 25px;
  top: 0;
  left: 0;
  border-radius: 100%;
  background-color: #f5f5f5;
  transition: all ease 0.3s ;
}


input[type="checkbox"]:checked + label{
  content: '';
  background:linear-gradient(to right,var(--skin--color2),var(--skin--color1));
  transition: all ease 0.3s ;
}


input[type="checkbox"]:checked + label::before{
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(25px);
  background-color: #f5f5f5;
  transition: all ease 0.3s ;
}

.nophotocouv{
    background-image: url(../../public/images/sans-image/noimg.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.nopdpimg{
    background-image: url(../../public/images/sans-image/nopdp.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

   /* ==========================================================================
    public page
  ========================================================================== */

  /* ==========================================================================navbar========================================================================== */
  .public_header{
    height: 300px;
    position: relative;
    overflow: hidden;
    display: flex;
}

.couvertures {
    display: flex;
    width: calc(100%*3);
    animation: carousel 0 linear infinite;
    -webkit-animation: carousel 0 linear infinite;
}

.couverture {
    flex: 1;
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.couverture1 {
    background-image: url('../../public/images/component/image/couverture1.jpg');
}

.couverture2 {
  background-image: url('../../public/images/component/image/couverture2.jpg');
}

.couverture3 {
  background-image: url('../../public/images/component/image/couverture3.jpg');
}
@media screen and (max-width: 767px) {
  /* header */
  .public_header{
      height: 170px;
      display: flex;
      justify-content: center;
  }
}

@keyframes carousel {
  0% {
      transform: translate(0);
      -webkit-transform: translate(0);
      -moz-transform: translate(0);
      -ms-transform: translate(0);
      -o-transform: translate(0);
  }
  20% {
      transform: translate(0);
      -webkit-transform: translate(0);
      -moz-transform: translate(0);
      -ms-transform: translate(0);
      -o-transform: translate(0);
  }

  50% {
      transform: translate(-100%);
      -webkit-transform: translate(-100%);
      -moz-transform: translate(-100%);
      -ms-transform: translate(-100%);
      -o-transform: translate(-100%);
  }
  70% {
      transform: translate(-100%);
      -webkit-transform: translate(-100%);
      -moz-transform: translate(-100%);
      -ms-transform: translate(-100%);
      -o-transform: translate(-100%);
  }

  100% {
      transform: translate(calc(-100% * 2));
      -webkit-transform: translate(calc(-100% * 2));
      -moz-transform: translate(calc(-100% * 2));
      -ms-transform: translate(calc(-100% * 2));
      -o-transform: translate(calc(-100% * 2));
  }
}

.public_nav{
  display: flex;
  justify-content: space-between;
  width: calc(100% - 300px);
  margin: auto;
  position: sticky;
  top: 50px;
  transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  z-index: 2;
}

.public_nav .fa, .public_nav .fa-regular, .public_nav .fas{
  display: none;
}

.logo{
  margin-top: 10px;
  margin-left: 10px;
  height: 150px;
  position: absolute;
  z-index: 1;
}

.logo img{
  height: 100%;
}

.public_nav a{
  flex: 1;
  text-decoration: none;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background: var(--skin--color1);
  backdrop-filter: blur(5px);
  box-shadow: 0 5px 10px var(--text-info);
  transition: ease-in-out .3s;
  -webkit-transition: ease-in-out .3s;
  -moz-transition: ease-in-out .3s;
  -ms-transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
}

.public_nav a:hover, .public_nav a.active{
  color: var(--skin--color2);
  background-color: var(--menuFond);
  transition: ease-in-out .3s;
  -webkit-transition: ease-in-out .3s;
  -moz-transition: ease-in-out .3s;
  -ms-transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
}
.public_nav.dark a:hover, .public_nav.dark a.active{
  background-color: var(--menuFondDark);
  color: var(--themeMarronDark);
}

.public_nav li{
  flex: 1;
  list-style: none;
  font-size: larger;
  font-weight: bold;
}


  /* ==========================================================================end navbar========================================================================== */
/* ==========================================================================Partenaire========================================================================== */
/* ==========================================================================end Partenaire========================================================================== */
/* ==========================================================================Actualite========================================================================== */

  .Blogcard {
    height: 250px;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
  }

  .Blogcard:hover {
	  box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
	  transform: translate(0px, -3px);
  }

  .Blogcard::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, var(--skin--color1), transparent 50%);
    opacity: 0.07;
  }

  .blog-img {
    height: 250px;
    width: 250px;
    transition: transform 0.2s ease;
  }

  .Blogcard:hover .blog-img {
    transform: scale(1.05) rotate(1deg);
  }
  .Blogcard:hover .blog-bar {
    width: 70px;
  }
  .blog-textbox {
    top: 7%;
    bottom: 7%;
    left: 300px;
    width: calc(100% - 310px);
    font-size: 17px;
  }

.blog-textbox::before,
.blog-textbox::after {
	content: "";
	position: absolute;
	display: block;
	background: #ff0000bb;
	background: var(--bg-black-900);
	top: -20%;
	left: -85px;
	height: 140%;
	width: 60px;
	transform: rotate(8deg);
}

.blog-title {
	font-size: 16px;
}
.blog-subtitle {
	color: var(--skin--color1);
}
.blog-bar {
	left: -2px;
	width: 50px;
	height: 5px;
	margin: 0;
	border-radius: 5px;
  background-image: linear-gradient(-70deg, var(--skin--color1), var(--skin--color2));
 	transition: width 0.2s ease;
}

.blog-description {
	z-index: 10;
	font-size: 12px;
	color: var(--text-black-900);
	height: 90px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.blog-tagbox {
	position: absolute;
	bottom: 3%;
	font-size: 14px;
	cursor: default;
	user-select: none;
	pointer-events: none;
}
.blog-tag {
	display: inline-block;
	color: #777;
  font-size: 12px;
	border-radius: 3px 0 0 3px;
	line-height: 26px;
	padding: 0 10px 0 23px;
	position: relative;
	margin-right: 20px;
	cursor: default;
	user-select: none;
	transition: color 0.2s;
}
.blog-tag::before {
	content: '';
	position: absolute;
	border-radius: 10px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
	height: 6px;
	left: 10px;
	width: 6px;
	top: 10px;
}

.closerphoto{
  cursor: auto;
  opacity: 0;
}

.phote-add:hover .closerphoto{
  opacity: 1;
  cursor: pointer;
  transition: all ease 0.2s;
}
/* ==========================================================================end Actualite========================================================================== */

/* ==========================================================================Domaine========================================================================== */

.domaine-card{
  box-shadow: 5px 5px 10px var(--bg-light);
  transition: ease .3s all;
}
.domaine-card.dragged{
  height: 850px;
  transition: ease .3s all;
}

.illustration{
  padding: 10px;
}


.drag{
  transform: translateY(-12px);
  -webkit-transform: translateY(-12px);
  -moz-transform: translateY(-12px);
  -ms-transform: translateY(-12px);
  -o-transform: translateY(-12px);
}


.drag i{
  font-size: x-large;
  transition: ease-in-out .3s;
  -webkit-transition: ease-in-out .3s;
  -moz-transition: ease-in-out .3s;
  -ms-transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
}

.drag i.dragged{
  transform: rotate(180deg);
  transition: ease-in-out .3s;
  -webkit-transition: ease-in-out .3s;
  -moz-transition: ease-in-out .3s;
  -ms-transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.domaine-card h4{
    letter-spacing: 1px;
}

/* ==========================================================================end Domaine========================================================================== */
/* ==========================================================================Mission========================================================================== */



/* ==========================================================================end Mission========================================================================== */

/* ==========================================================================about========================================================================== */

#container
{
height: 500px;
width: 100%;
overflow: hidden;
position: relative;
  margin-top: 30px;
  display: inline-block;
}

#thumbs
{
position: absolute;
top: 0px;
left: 0px;
height: 100%;
width: auto;
overflow: hidden;
white-space: nowrap;
padding: 30px 100px;
}

.history-block {
  height: 100%;
  width: 300px;
  background-color: #cdcdcd;
  margin: 0 -2px;
  border-right: 1px solid #fff;
  display: inline-block;
  font-family: 'roboto condensed', sans-serif;
  font-size:60px;
  font-weight: 100;
  color: #FFF;
  cursor: pointer;
  box-shadow: 2px 5px 20px rgba(0,0,0,0.8);
  transition: width 0.2s;
}

.history-block:last-of-type {
  border-right: none;
}

.cover {
  width: 100%;
  height: 100%;
  transition: background .5s;
  background: rgba(0,0,0,0.8);
}

.cover:hover {
  width: 100%;
  height: 100%;
  transition: background .5s;
  background: rgba(0,0,0,0.8);
}

.year {
  position: absolute;
    top: 0px;
    font-size: 20px;
  font-weight:500;
    margin: 40px 30px;
}

.history-block .title {
  position: absolute;
  display: block;
  width: 260px;
    top: 60px;
    font-size: 15px;
    margin: 30px;
  white-space: normal;
  transition: width 0.2s;
}



/* Orgenigramme */
.memberscases{
  background-color: var(--skin--color1);
}
.memberscases::before{
  content: '';
  height: 70px;
  width: 5px;
  background-color: var(--skin--color2);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%,100%);
}

.memberscases::after{
  content: '';
  height: 5px;
  width: 90px;
  background-color: var(--skin--color2);
  position: absolute;
  right: 0;
  top: 50px;
  transform: translate(100%,-50%);
}

#Sandy::before,
#Finaritra::before{
  height: 70px;
}

#Finaritra::after,
#Hasina::after,
#Hasina::before,
#Miary::before{
  display: none;
}

#Sandy::after{
  left: 0;
  top: 50px;
  transform: translate(-100%,-50%);
}

#Mims::after,
#Ranto::after,
#Njara::after{
  content: '';
  height: 70px;
  width: 5px;
  background-color: var(--skin--color2);
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%,-100%);
}
#Mims::before,
#Njara::before{
  height: 5px;
  width: 293px;
  background-color: var(--skin--color2);
  position: absolute;
  left: 54px;
  top: -70px;
  transform: translateY(-100%);
}
/* ==========================================================================end about========================================================================== */

/* ==========================================================================don et soutien========================================================================== */
.creditcardform-container .field-container:first-of-type {
  grid-area: name;
}

.creditcardform-container .field-container:nth-of-type(2) {
  grid-area: number;
}

.creditcardform-container .field-container:nth-of-type(3) {
  grid-area: expiration;
}

.creditcardform-container .field-container:nth-of-type(4) {
  grid-area: security;
}

.field-container input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.field-container {
  position: relative;
}

.creditcardform-container {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto;
  grid-template-rows: 90px 90px 90px;
  grid-template-areas: "name name""number number""expiration security";
  max-width: 400px;
  padding: 20px;
  color: var(--text-black-900);
}


.ccicon {
  height: 38px;
  position: absolute;
  right: 6px;
  top: calc(50% - 17px);
  width: 60px;
}
/* CREDIT CARD IMAGE STYLING */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.containercreditcard {
  width: 100%;
  max-width: 400px;
  max-height: 251px;
  height: 54vw;
  padding: 20px;
}

#ccsingle {
  position: absolute;
  right: 15px;
  top: 20px;
}

#ccsingle svg {
  width: 100px;
  max-height: 60px;
}

.creditcard svg#cardfront,
.creditcard svg#cardback {
  width: 100%;
  -webkit-box-shadow: 1px 5px 6px 0px black;
  box-shadow: 1px 5px 6px 0px black;
  border-radius: 22px;
}

/* CHANGEABLE CARD ELEMENTS */
.creditcard .lightcolor,
.creditcard .darkcolor {
    -webkit-transition: fill .5s;
    transition: fill .5s;
}

.creditcard .lightblue {
    fill: #03A9F4;
}

.creditcard .lightbluedark {
    fill: #0288D1;
}

.creditcard .red {
    fill: #ef5350;
}

.creditcard .reddark {
    fill: #d32f2f;
}

.creditcard .purple {
    fill: #ab47bc;
}

.creditcard .purpledark {
    fill: #7b1fa2;
}

.creditcard .cyan {
    fill: #26c6da;
}

.creditcard .cyandark {
    fill: #0097a7;
}

.creditcard .green {
    fill: #66bb6a;
}

.creditcard .greendark {
    fill: #388e3c;
}

.creditcard .lime {
    fill: #d4e157;
}

.creditcard .limedark {
    fill: #afb42b;
}

.creditcard .yellow {
    fill: #ffeb3b;
}

.creditcard .yellowdark {
    fill: #f9a825;
}

.creditcard .orange {
    fill: #ff9800;
}

.creditcard .orangedark {
    fill: #ef6c00;
}

.creditcard .grey {
    fill: #bdbdbd;
}

.creditcard .greydark {
    fill: #616161;
}
/* FRONT OF CARD */
#svgname {
  text-transform: uppercase;
}

#cardfront .st2 {
  fill: #FFFFFF;
}

#cardfront .st3 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
}

#cardfront .st4 {
  font-size: 54.7817px;
}

#cardfront .st5 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
}

#cardfront .st6 {
  font-size: 33.1112px;
}

#cardfront .st7 {
  opacity: 0.6;
  fill: #FFFFFF;
}

#cardfront .st8 {
  font-size: 24px;
}

#cardfront .st9 {
  font-size: 36.5498px;
}

#cardfront .st10 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
}

#cardfront .st11 {
  font-size: 16.1716px;
}

#cardfront .st12 {
  fill: #4C4C4C;
}


/* BACK OF CARD */
#cardback .st0 {
  fill: none;
  stroke: #0F0F0F;
  stroke-miterlimit: 10;
}

#cardback .st2 {
  fill: #111111;
}

#cardback .st3 {
  fill: #F2F2F2;
}

#cardback .st4 {
  fill: #D8D2DB;
}

#cardback .st5 {
  fill: #C4C4C4;
}

#cardback .st6 {
  font-weight: 400;
}

#cardback .st7 {
  font-size: 27px;
}

#cardback .st8 {
  opacity: 0.6;
}

#cardback .st9 {
  fill: #FFFFFF;
}

#cardback .st10 {
  font-size: 24px;
}

#cardback .st11 {
  fill: #EAEAEA;
}



#cardback .st13 {
  font-size: 37.769px;
}
.containercreditcard {
  perspective: 1000px;
}

.creditcard {
  width: 100%;
  max-width: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  cursor: pointer;
}

.creditcard .front,
.creditcard .back {
  position: absolute;
  width: 100%;
  max-width: 400px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;

}

.creditcard .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.creditcard.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.suggest{
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  border-radius: 10px;
  color: white;
}
.suggest:nth-child(3n-2){
  background:linear-gradient(to right,red ,darkred);
}
.suggest:nth-child(3n-1){
  background:linear-gradient(to right,blue ,darkblue);
}
.suggest:nth-child(3n){
  background:linear-gradient(to right, green,darkgreen);
}

.suggest:nth-child(3n-2):hover{
  background:linear-gradient(to left,darkred ,darkred);
}
.suggest:nth-child(3n-1):hover{
  background:linear-gradient(to left,darkblue ,darkblue);
}
.suggest:nth-child(3n):hover{
  background:linear-gradient(to left, darkgreen,darkgreen);
}


/* ==========================================================================end don et soutien========================================================================== */

   /* ==========================================================================
    user page
  ========================================================================== */

  /* ==========================================================================navbar========================================================================== */
aside{
  width: 250px;
  height: 100vh;
  background: linear-gradient(to bottom,var(--bg-black-100),var(--bg-black-50));

}


.menu-item:hover{
  background-color:var(--bg-light);
}

.menu-item.active{
  background-color:var(--bg-light);
  border: 5px solid transparent;
  border-right: 10px solid var(--skin--color2);

}

.menu-item.active a{
 color: var(--skin--color1);
 font-weight: bold;
}
  /* ==========================================================================end navbar========================================================================== */

  .usersection{
    margin-top: 100px;
    width: calc(100% - 250px);
    margin-left: 250px;
  }


  /* ==========================================================================Dashboard========================================================================== */
  .dash-card{
    background: linear-gradient(to bottom,var(--bg-black-100),var(--bg-black-50));
    border-radius: 5px;
    box-shadow: 1px 2px 10px 1px #080c21;
  }

  .dash-hello{
    color: var(--skin--color1);
  }

  .btn-newtask{
    background: transparent;
    border: 2px solid var(--skin--color1);
    color: var(--skin--color1);
    transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
  }

  .btn-newtask:hover{
    background: linear-gradient(to bottom,var(--skin--color1),var(--skin--color2));
    color: white;
    transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
  }

  .dash-icon{
    background-color: var(--bg-light);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    position: relative;
  }

  .icon-color-theme{
    color: var(--skin--color1);
  }

  .dash-icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:20px ;
  }

  .date
  {
    font-size: 14px;
    font-weight: bold;
    color: var(--text-black-900);
  }

  .task-agree{
   border-bottom: 1px solid var(--bg-light);
   padding: 10px 0px 10px 0;
  }

  .task-agree form{
    visibility: hidden;
   }


   .task-agree:hover form{
    visibility: visible;
    transition: ease-in-out .9s all;
   }

   .task-agree button:hover i{
    color: rgb(27, 190, 27);
   }


   .counterVisitdon{
    display: flex;
  }


/* ==========================================================================end Dashboard========================================================================== */


/* ========================================================================== gestion blog========================================================================== */
.blog-comment-card{
  border-bottom: 2px var(--bg-light) solid;
}

.blog-comment-card form  {
  display: none;
}

.blog-comment-card:hover  form  {
  display: block;
}


.blog-comment-card form:first-child button i:hover{
  color: red;
}


/* ==========================================================================end gestion blog========================================================================== */



/* ========================================================================== gestion partenaires========================================================================== */
.partenaire-card{
    background-color: var(--bg-black-50);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    -moz-transition: all ease-in-out .2s;
    transition:  all ease-in-out .2s;
}

.partenaire-card:hover{
  background-color: var(--bg-black-50);
  box-shadow: 0px 1px 1px var(--skin--color1);
  -moz-transition: all ease-in-out .2s;
  transition:  all ease-in-out .2s;
}

.partenaire-collapse {
  -moz-transition: all ease-in-out .2s;
  transition:  all ease-in-out .2s;
}

.partenaire-card:hover .partenaire-collapse {
  height:300px ;
  -moz-transition: all ease-in-out .5s;
  transition:  all ease-in-out .5s;
}

.partenaire-card button{
  background-color: transparent;
  border: 2px solid var(--skin--color2);
  color: var(--skin--color1);
  -moz-transition: all ease-in-out .5s;
  transition:  all ease-in-out .5s;
}

.partenaire-card button:hover{
  background-color: var(--skin--color1);
  border: 2px solid var(--skin--color2);
  color: white;
  -moz-transition: all ease-in-out .5s;
  transition:  all ease-in-out .5s;
}

/* ==========================================================================end gestion partenaires========================================================================== */

/* ==========================================================================gestion project========================================================================== */
.project-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(to right, var(--bg-black-100), var(--bg-black-100), var(--bg-black-100),var(--bg-black-100),  var(--skin--color1));
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: background linear ease-in-out .2s, box-shadow linear ease-in-out .2s;
  -moz-transition: background linear ease-in-out .2s, box-shadow linear ease-in-out .2s;
    height:auto ;

}

.project-container:hover {
  background: linear-gradient(to right, var(--bg-black-100), var(--skin--color1));
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  transition: background linear ease-in-out .2s, box-shadow linear ease-in-out .2s;
  -moz-transition: background linear ease-in-out .2s, box-shadow linear ease-in-out .2s;

}

.image-accordion {
  display: flex;
  max-width: 1100px;
  background: #fff;
  margin: 0 auto;
}

.project-gallery .image-accordion img {
  height: 500px;
}

.project-gallery figure {
  flex: 1;
  margin: 0px;
  transition: 0.5s all;
  overflow: hidden;
  opacity: 0.5;
}

.project-gallery figure:hover {
  cursor: pointer;
}

.project-gallery .selected-image {
  flex: 5;
  opacity: 1;
}

.minus_hover:hover .minus_hide{
  cursor:pointer  ;
  opacity: 1;
  transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
}

.minus_hide{
  cursor: auto;
  opacity: 0;
  transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
}

.photocontainer .closerphoto{
  opacity: 0;
  cursor: auto;
  transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
}

.photocontainer:hover .closerphoto{
  opacity: 1;
  cursor: pointer;
  transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
}

.exist-photo:hover .del-photo{
  opacity: 1;
}
.list_obj{
  width: 50%;
  height: 300px;
}

.list_obj li{
  width: 250px;
  border-bottom: 1px solid rgba(0, 0, 0, .18);
}

.list_obj li label  .checker{
  position: absolute;
  top: 10px;
  width: 20px;
  height: 20px;
  background-color:var(--text-black-900) ;
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
}

.list_obj li label .checker::before{
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background:  #000b10;
  filter: blur(2px);
  border-radius: 2px;
  transition: all .4s;
  transform: translateX(185px);
}

.list_obj li label .statusCheckbox:checked ~ .checker::before{
  background-color: var(--skin--color1);
  box-shadow: 0 0 15px var(--skin--color2);
  transform: translateX(0px);
}

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 100%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: var(--bg-light);
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}


.circular-chart.green .circle {
  stroke: var(--skin--color1);
  transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
}



.percentage {
  fill: var(--text-black-700);
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
  transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
}
/* ==========================================================================end gestion project========================================================================== */

/* ==========================================================================gestion membre========================================================================== */
.swiper-slide{
  background-color: var(--bg-black-50);
  box-shadow: 0 15px 50px rgba(0, 0, 0, .66);
  filter: blur(4px);
}

.swiper-slide-active{
  filter: blur(0px);
}

.testimonial-Box{
  padding-top: 90px;
  color: #999;
}

.testimonial-Box .quote{
  opacity: 0.2;
}

.membre-details{
  letter-spacing: 1px;
  color: var(--skin--color1);
  line-height: 1.1rem;
}

.membre-details span{
  color: var(--text-black-700);
}



/* ==========================================================================end gestion membre========================================================================== */



/* ========================================================================== utilisateur========================================================================== */
  .btn-search{
    border-radius: 3px 0 0 3px;
    background: transparent;
    border: 1px solid var(--skin--color1);
    color: var(--skin--color1);
    transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
  }

  .btn-search:hover{
    background: linear-gradient(to bottom,var(--skin--color1),var(--skin--color2));
    color: white;
    transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
  }

/* ==========================================================================end utilisateur========================================================================== */

/* ========================================================================== Gestion def taches========================================================================== */
.task-card{
  padding: 20px;
  background-color: var(--bg-black-50);
  border-radius: 100px;
  font-weight: 600;
  transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
}

.task-card:hover{
  padding: 20px;
  background-color: var(--skin--color2);
  color: white;
  border-radius: 5px;
  transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
}

.task-card form{
  height: 20px;
  width: 20px;
  opacity: 0;
  transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
}
.task-card .delete-task{
  background-color: var(--bg-black-900);
  border-radius: 100%;
  height: 20px;
  width: 20px;
  opacity: 0;
  transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
}

.task-card:hover form{
  opacity: 1;
  transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
}

.task-card.progress{
  padding: 20px;
  background: linear-gradient(to right,var(--skin--color2),var(--bg-black-50),var(--bg-black-50));
  border-radius: 100px;
  font-weight: 600;
  transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
}

.task-card.progress:hover{
  padding: 20px;
  background: linear-gradient(to right,var(--skin--color2),var(--skin--color1),var(--bg-black-50));
  color: white;
  border-radius: 5px;
  transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
}

.task-card.review{
  padding: 20px;
  background-color: rgb(196, 42, 42);
  border-radius: 100px;
  font-weight: 600;
  transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
}

.task-card.review:hover{
  padding: 20px;
  color: white;
  border-radius: 5px;
  transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
}

.task-card.done{
  padding: 20px;
  background-color: rgb(75, 161, 51);
  border-radius: 100px;
  font-weight: 600;
  transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
}

.task-card.done:hover{
  padding: 20px;
  color: white;
  border-radius: 5px;
  transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
}



.stepper input{
  height: 155px;
  font-size: 50px;
  background: none;
  text-align: right;
}

.stepper button {
  background-color: var(--text-black-900);
  color: var(--bg-black-900);
  font-size: 1.25rem;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  padding: 0;
  transition: background-color 0.3s ease;
}

.stepper button:hover {
  background-color: var(--bg-black-50);
  color: var(--text-black-900);
}


.stepper-up{
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%,-50%);
}

.stepper-down{
  position: absolute;
  left: 50%;
  bottom:25%;
  transform: translate(-50%,50%);
}



/* ==========================================================================end Gestion taches========================================================================== */

/* ==========================================================================galerie========================================================================== */
.galerie-grid img {
    object-fit: cover;
    animation: morphend .9s;
    transition: ease-in-out .9s all;

}

.galerie-grid img:hover {
  filter: none;
  animation: morph 3.5s linear infinite;
  transition: ease-in-out .9s all;
}

/* ==========================================================================en galerie========================================================================== */

/* ==========================================================================Theme========================================================================== */
.pallete{
  width: 100px;
  position: absolute;
  top: 20%;
  left: 100%;
  transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
}

.pallete.active{
  width: 100px;
  position: absolute;
  top: 20%;
  left: 50%;
  animation: bounceslideInFromRight 1s ease-in-out;
}


.pallete-container .colors{
  content: '';
  width: 100%;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.pallete-container .colors#bleu{
  background: linear-gradient(to right,#4863A0,#0C2340);
}
.pallete-container .colors#jaune{
  background: linear-gradient(to right,#CDA323,#8B6914);
}
.pallete-container .colors#rouge{
  background: linear-gradient(to right,#A61B1B,#5C0404);
}
.pallete-container .colors#vert{
  background: linear-gradient(to right,#1F9B4F,#184E29);
}
.pallete-container .colors#rose{
  background: linear-gradient(to right,#F021B2,#701053);
}

/* ==========================================================================end theme ========================================================================== */


/* ========================================================================== parametre ========================================================================== */
.parametre-card{
  background: linear-gradient(to bottom,var(--bg-black-100),var(--bg-black-50));
  padding:20px 20px 50px 20px;
  border-radius: 10px;
}

/* ==========================================================================end parametre ========================================================================== */





















/* ==========================================================================footer========================================================================== */


.publicfooter{
  width: calc(100% - 250px);
  margin-left: 250px;
}

/* ==========================================================================end footer========================================================================== */


  /* ==========================================================================
    Media queries
  ========================================================================== */

  @media screen and (max-width: 1260px) {
    aside{
      width: 250px;
      height: 100vh;
      background: linear-gradient(to bottom,var(--bg-black-100),var(--bg-black-50));
     transform: translateX(-250px);
    }
    .usersection{
      width:100%;
      margin: auto;
      margin-top: 100px;
    }
  }


  @media (max-width: 925px) {
    .tableUser thead{
        display: none;
    }
    .tableUser,.tableUser tbody ,.tableUser tr, .tableUser td{
        display: block;
        width: 100%;

    }
    .tableUser tr{
        margin-bottom: 15px;
    }
    .tableUser td{
        padding: 10px 15px;
        text-align: right;
        display: flex;
        justify-content: right;
        padding-right: 30px;
        align-items: center;
        position: relative;
    }

    .tableUser td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 40%;
        height: 100%;
        padding-top: 15px;
        color: white;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
        background: linear-gradient(to right,var(--skin--color1),var(--skin--color2));
    }



  }

  @media (max-width: 900px) {
    .tableBlog thead{
        display: none;
    }
    .tableBlog,.tableBlog tbody ,.tableBlog tr, .tableBlog td{
        display: block;
        width: 100%;

    }
    .tableBlog tr{
        margin-bottom: 15px;
    }
    .tableBlog td{
        padding: 10px 15px;
        text-align: right;
        display: flex;
        justify-content: right;
        padding-right: 30px;
        align-items: center;
        position: relative;
    }

    .tableBlog td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        height: 100%;
        padding-top: 15px;
        color: white;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
        background: linear-gradient(to right,var(--skin--color1),var(--skin--color2));
    }



  }

  @media (max-width: 770px) {
    .tableProj thead,
    .tablePart thead{
        display: none;
    }
    .tableProj,.tableProj tbody ,.tableProj tr, .tableProj td,
    .tablePart,.tablePart tbody ,.tablePart tr, .tablePart td{
        display: block;
        width: 100%;

    }
    .tableProj tr,
    .tablePart tr{
        margin-bottom: 15px;
    }
    .tableProj td,
    .tablePart td{
        padding: 10px 15px;
        text-align: right;
        display: flex;
        justify-content: right;
        padding-right: 30px;
        align-items: center;
        position: relative;
    }

    .tableProj td::before,
    .tablePart td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        height: 100%;
        padding-top: 15px;
        color: white;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
        background: linear-gradient(to right,var(--skin--color1),var(--skin--color2));
    }
  }

  @media (max-width: 640px) {
    .galerie-grid{
      grid-template-columns: 33.333% 33.333% 33.33%;
    }

    .galerie-grid div{
      width: 100px;
      height:100px;
    }
}

@media (max-width:544px){
    .Blogcard{
        display: block;
        height: 400px;
    }

    .blog-textbox,
    .blog-img{
        width: 100%;
    }

    .blog-textbox{
        left: 50%;
        top: 50%;
        transform: translate(-40%,30%);
        -webkit-transform: translate(-40%,30%);
        -moz-transform: translate(-40%,30%);
        -ms-transform: translate(-40%,30%);
        -o-transform: translate(-40%,30%);
    }
    .blog-tagbox{
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
}

}

@media (max-width: 490px) {
  .dashSection {
      transform-origin: top ;
      transform: scale(0.8);
      width: 100%;
  }
}


  @media screen and (max-width: 437px) {
    body{
      margin: 0;
      padding: 0;
    }

    .counterVisitdon{
      display: block;
    }
    .counterVisitdoncounter{
      width: 100%;
    }



    .tableMembre thead{
        display: none;
    }
    .tableMembre,.tableMembre tbody ,.tableMembre tr, .tableMembre td{
        display: block;
        width: 100%;

    }
    .tableMembre tr{
        margin-bottom: 15px;
    }
    .tableMembre td{
        padding: 10px 15px;
        text-align: right;
        display: flex;
        justify-content: right;
        padding-right: 30px;
        align-items: center;
        position: relative;
    }

    .tableMembre td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        height: 100%;
        padding-top: 15px;
        color: white;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
        background: linear-gradient(to right,var(--skin--color1),var(--skin--color2));
    }





  }

  @media screen and (max-width: 386px) {

    .galerie-grid{
      display: flex;
      flex-wrap: wrap;
    }

    .galerie-grid div{
      width: 100px;
      height:100px;
    }

  }




  /* Animation */
  .bounceslideInFromRight{
      animation: bounceslideInFromRight 1s ease-in-out;
  }

  .bounceslideInFromLeft{
    animation: bounceslideInFromLeft 1s ease-in-out;
  }

  .bounceslideInFromBottom{
    animation: bounceslideInFromBottom 1s ease-in-out;
  }
  .shake {
    animation: shake 0.5s ease-in-out;
}

  @keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}

@keyframes bounceslideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  60% {
    transform: translateX(10%);
    opacity: 1;
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}

  @keyframes bounceslideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    60% {
      transform: translateX(-10%);
      opacity: 1;
    }
    80% {
      transform: translateX(5%);
    }
    100% {
      transform: translateX(0);
    }
  }


@keyframes bounceslideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  60% {
    transform: translateY(-10%);
    opacity: 1;
  }
  80% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounceslidetoRight {
  0% {
    transform: translateX(0%);
    opacity: 0;
  }
  60% {
    transform: translateX(-10%);
    opacity: 1;
  }
  80% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes morphend {
  0%{
    border-radius: 40% 60% 70% 30% /
                   40% 40% 60% 50%;
  }

  34% {
    border-radius: 70% 30% 50% 50% /
                   30% 30% 70% 70%;
  }

  64% {
    border-radius: 100% 60% 60% 100% /
                   100% 100% 60% 60%;
  }

  100%{
    border-radius: 0% 0% 0% 0% /
                   0% 0% 0% 0%;
  }

}


@keyframes morph {
  0%,100%{
    border-radius: 40% 60% 70% 30% /
                   40% 40% 60% 50%;
  }

  34% {
    border-radius: 70% 30% 50% 50% /
                   30% 30% 70% 70%;
  }

  64% {
    border-radius: 100% 60% 60% 100% /
                   100% 100% 60% 60%;
  }

}


.historique{
  background-color: var(--bg-black-900);
  transition: ease-in .3s;
}
.historie_container{
  border-bottom: 2px solid var(--skin--color1);
}

.historie_container:nth-child(2n+1){
  background-color: var(--bg-black-50);
}
.historie_container:nth-child(2n+2){
  background-color: var(--bg-black-100);
}

/* Messagerie */
.title_messagebox{
  background-color: var(--bg-black-100);
  border-radius: 6px;
  transition:.3s ease;
  margin-bottom: 5px;
}
.messsagebox{
  background-color: var(--bg-black-50);
  min-width:1000px ;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  transition: .2s ease;
}


.messagecontent.Messagestyle{
  background-image: url(../../public/images/component/image/logo_court.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--bg-black-100);
}

.messagecontent{
  height: 95%;
  border-radius: 6px;
  padding-right: 20px;
  padding-left: 20px;

}

.message{
  padding: 12px 14px;
  width: fit-content;

}

.conversation{
    margin-left: 5px;
    border-bottom: var(--text-black-700) 3px solid;
    transition: .2s ease;
}


.conversation:hover{
  color: white;
  background-color: var(--skin--color1);
  transition: .2s ease;
}


.message.Mymessage{
  padding: 12px 14px;
  width: fit-content;
  background-color: var(--bg-black-900);
  color: var(--text-black-700);
  border-radius:  6px 6px 6px 0px;
  display: flex;
  justify-content: flex-start;
}

.message.Othermessage{
  padding: 12px 14px;
  width: fit-content;
  background-color: var(--skin--color1);
  color: white;
  border-radius:  6px 6px 0px 6px;
  display: flex;
  justify-content: flex-end;
}
