@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(font-awesome-4.7.0/css/all.min.css);
@import url(fontawesome-free-6.2.0-web/css/all.min.css);

:root{
    --bg-black-900:#f2f2fc  ;
    --bg-black-100:#fdf9ff ;
    --bg-black-50:#e8dfec  ;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
    --text-info:#7d8da1;
    --bg-light:rgba(132,139,200,0.18);
    --skin--color1:#4863A0;
    --skin--color2:#0C2340;
}

  /* ==========================================================================
    Theme
  ========================================================================== */
.jaune{
  --skin--color1:#CDA323;
  --skin--color2:#8B6914;
}

.rouge{
  --skin--color1:#A61B1B;
  --skin--color2:#5C0404;

}

.vert{
  --skin--color1:#1F9B4F;
  --skin--color2:#184E29;
}

.rose{
  --skin--color1:#F021B2;
  --skin--color2:#701053;

}

body.dark
{
    --bg-black-900:#151515  ;
    --bg-black-100:#222222;
    --bg-black-50:#393939  ;
    --text-black-900:#FFFFFF;
    --text-black-700:#E9E9E9;
    --text-info:#dce1eb;
    --bg-light:#363949;
}

body{
    font-family: poppins, sans-serif;
    background-color: var(--bg-black-900);
    color: var(--text-black-900);
    overflow-x:hidden;

    
}

a{
    color: var(--text-black-900);
    text-decoration: none;
}

small{
    font-size: 0.75rem;
}

.profil-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    overflow: hidden;
}

.submit{
    background-color: var(--skin--color1);
}

ul{
    list-style-type:none ;
}

  
::selection {
    color: var(--text-light);
  }
  
  
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
  .style-switcher{
    position: fixed;
    right: 0;
    top: 60px;
    padding: 15px;
    width: 200px;
    border: 1px solid var(--bg-black-50);
    background: var(--bg-black-100);
    z-index: 101;
    border-radius: 5px;
    transition:all 0.5s ease; 
    transform: translateX(100%);
 }
 
 .style-switcher.open{
     transform: translateX(-25px);
 }
 
 .style-switcher .s-icon{
     position: absolute;
     height: 40px;
     width: 40px;
     text-align: center;
     font-size: 20px;
     background: var(--bg-black-100);
     color:var(--text-black-900);
     right: 100%;
     border: 1px solid var(--bg-black-50);
     margin-right: 25px;
     cursor: pointer;
     transition:all 0.5s ease;
     border-radius: 50%;
 }
 
 .style-switcher .s-icon i{
     line-height: 40px;
 }
 
 .style-switcher .style-switcher-toggler{
     top: 0;
 }
 
 .style-switcher .day-night{
     top: 55px;
 }
 
 .style-switcher h4{
     margin: 0 0 10px;
     color: var(--text-black-700);
     font-size: 16px;
     font-weight: 600;
     text-transform: capitalize;
 }
 
 .style-switcher .colors{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }
 
 .style-switcher .colors span{
     display: inline-block;
     height: 30px;
     width: 30px;
     border-radius: 50%;
     border: 1px solid red ;
 }
 
 .style-switcher .color-1{
     background-color: #ec1839;
 }
 
 .style-switcher .color-2{
     background-color: #fa5b0f;
 }
 
 .style-switcher .color-3{
     background-color: #37B182;
 }
 
 .style-switcher .color-4{
     background-color: #1854B4;
 }
 .style-switcher .color-5{
     background-color: #F021B2;
 }

  /* ==========================================================================
    Typography
  ========================================================================== */
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-family: var(--font-family);
  }
  
  
  h1 {
    margin-top: 0.5em;
    display: block;
    font-size: 2em;
    font-weight: bold;
  }
  
  h2 {
    font-size: 3rem;
    line-height: 1;
    margin: 1rem 0 1rem;
  }
  
  h3 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin: 1rem 0 1rem;
  }
  
  h4 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin: 1rem 0 1rem;
  }
  
  h5 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 1rem 0 0.5rem;
  }
  
  h6 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 1rem 0 0.2rem;
  }
  
  p {
        font-weight: 500;
  }

  
  hr {
    border: 0;
    height: 1px;
    background-color: var(--text-black-700);
    margin: 1em 0;
  }
  

  /* ==========================================================================
   Animation et class global
  ========================================================================== */
.hidden{
    display: none;
}


.show_to_Center{
    animation: showtoCenter 1s;
}

.show_to_Top{
    animation: showtoTop 1s;
}


.show_to_Left{
    animation: showtoLeft 1s;
}

.show_to_Right{
    animation: showtoRight 1s;
}


.animate_to_Top{
  animation:animate_to_Top 2s ;
}

@keyframes showtoCenter {
    0%{
        opacity: 0;
        transition: ease-in-out 1s;
        -webkit-transition: ease-in-out 1s;
        -moz-transition: ease-in-out 1s;
        -ms-transition: ease-in-out 1s;
        -o-transition: ease-in-out 1s;
  }
  }

@keyframes showtoTop {
    0%{
        opacity: 0;
        transform: translateY(-100px);
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        -o-transform: translateY(-100px);
        transition: ease-in-out 1s;
        -webkit-transition: ease-in-out 1s;
        -moz-transition: ease-in-out 1s;
        -ms-transition: ease-in-out 1s;
        -o-transition: ease-in-out 1s;
  }
  }

@keyframes showtoLeft {
    0%{
        opacity: 0;
        transform: translateX(-100px);
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transition: ease-in-out 1s;
        -webkit-transition: ease-in-out 1s;
        -moz-transition: ease-in-out 1s;
        -ms-transition: ease-in-out 1s;
        -o-transition: ease-in-out 1s;
  }
  }

@keyframes showtoRight {
    0%{
        opacity: 0;
        transform: translateX(1000px);
        -webkit-transform: translateX(1000px);
        -moz-transform: translateX(1000px);
        -ms-transform: translateX(1000px);
        -o-transform: translateX(1000px);
        transition: ease-in-out 1s;
        -webkit-transition: ease-in-out 1s;
        -moz-transition: ease-in-out 1s;
        -ms-transition: ease-in-out 1s;
        -o-transition: ease-in-out 1s;
  }
  }


@keyframes showtoBottom {
    0%{
        opacity: 0;
        transform: translateY(100px);
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -ms-transform: translateY(100px);
        -o-transform: translateY(100px);
        transition: ease-in-out 1s;
        -webkit-transition: ease-in-out 1s;
        -moz-transition: ease-in-out 1s;
        -ms-transition: ease-in-out 1s;
        -o-transition: ease-in-out 1s;
}
}


@keyframes animate_to_Top {
  0%{
        opacity: 0;
   } 
   5%,75%{
    opacity: 1;
    top: 20px;
    right: 10px;
    position: absolute;
   }

}
  /* ==========================================================================
    Forms
  ========================================================================== */
  
  form {
    font-family: var(--font-family);
    width: 100%;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea,
  select {
    padding: 0.6em 0.6em;
    font-family: var(--font-familly);
    font-size: 1em;
    width: 100%;
    margin-bottom: 10px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    background-color: var(--bg-black-50);
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  button,
  input[type="submit"],
  input[type="reset"],
  textarea,
  select {
    border-radius: 0.25em;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  button,
  input[type="submit"],
  input[type="reset"] {
    margin-top: 1em;
    border: 1px solid var(--bg-black-50);
    background-color: none;
    color: var(--text-dark);
    padding: 9px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--font-family);
  }
  
  button:not(:last-child),
  input[type="submit"]:not(:last-child),
  input[type="reset"]:not(:last-child) {
    margin-right: 0em;
  }

  
  .btn-link{
    margin-top: 1em;
    border: 1px solid var(--bg-black-50);
    background: var(--bg-black-50);
    color: var(--text-dark);
    text-decoration: none;
    padding: 9px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--font-family);
  }

  
  input[type="checkbox"],
  input[type="radio"] {
    margin-top: 1.4em;
    width: 1.4em;
    height: 1.4em;
  }
  
  select{
    background-color: var(--bg-black-50);
    color: var(--text-black-900);
  }

    /* ==========================================================================
    Listes
  ========================================================================== */
  
  ul {
    margin: 2em 0;
    list-style-type: circle;
  }
  
  li {
    line-height: 1.8em;
    font-family: var(--font-sans);
  }
  
  /* ==========================================================================
    Tables
  ========================================================================== */
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  th {
    font-size: 14px;
    font-weight: 500;
  }
  
  th,
  td {
    padding: 0.7em;
  }

  td:hover {
    cursor: pointer;
  }
  
  tr:hover,
  tr:nth-child(odd):hover {
    background-color: #fdfdea;
  }
  
  tr:nth-child(odd) {
    background-color: #f3f3f3;
  }

  /* ==========================================================================
   autre element
  ========================================================================== */
  main{
    max-width: 106rem;
    margin-left: 25rem;
  }


  nav{
    background-color: var(--bg-black-900);
    z-index: 9998;
  }

  section {
    margin: 4rem 0;
  }

  footer {
    margin-top: 2em;
    justify-self: flex-end;
    width: 100%;
    font-family: var(--font-sans);
    font-size: 0.8em;
    text-align: center;
    color: var(--text-light);
  
  }

    /* ==========================================================================
    Navbar side & top
    ========================================================================== */
      
    .aside{
      max-width: 16rem;
      background-color: var(--bg-black-900);
      z-index: 9999;
    }



    .sidebar_header{
      background: var(--bg-black-900);
    }
  
    .sidebar_body{
      height: calc(100vh - 360px);
    }
    
    .nav_item{
      margin-top: 0.125rem;
      transition:color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; 
    }

    .nav_item a{
      letter-spacing: -0.025rem;
    }


    .nav_item .active{
      border-radius: 20px;
      color: var(--skin--color1);
      background-color: var(--bg-black-100);
    }

    .icon_shape{
      margin:5px 15px;
      background:var(--bg-black-100);
      box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.12) !important;
    }

    .nav_item .active>.icon_shape{
      color: white;
      background: linear-gradient(310deg, var(--skin--color1) 0%, var(--skin--color1) 100%);
    }

    .menu_resp{
      display: none;

    }

    .show_style{
      position: absolute;
      top:0 ;
      right: 10px;
      transform: translate(110%,-15px);
      transition:.5s  cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .show_style.active{
      position: absolute;
      top:0 ;
      right: 10px;
      transform: translate(0%,-15px);
      transition:.5s  cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .theme_style {
      background-color: var(--bg-black-900);
      display: grid;
      grid-template-columns: 35px 35px 35px;
    }

    .theme_style button{
      width: 20px;
      height: 20px;
      border: none;
    }

    #btn_bleu{
      background:#4863A0;
      transition:.5s  cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    #btn_bleu:hover{
      background: linear-gradient(310deg,#4863A0 0%,#0C2340  100%);
      transition:.5s  cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    
    #btn_rouge{
      background:#A61B1B;
      transition:.5s  cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    #btn_rouge:hover{
      background: linear-gradient(310deg,#A61B1B 0%,#5C0404  100%);
      transition:.5s  cubic-bezier(0.075, 0.82, 0.165, 1);
    }
     
    #btn_vert{
      background:#1F9B4F;
      transition:.5s  cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    #btn_vert:hover{
      background: linear-gradient(310deg,#1F9B4F 0%,#184E29  100%);
      transition:.5s  cubic-bezier(0.075, 0.82, 0.165, 1);
    }

     
    #btn_rose{
      background:#F021B2;
      transition:.5s  cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    #btn_rose:hover{
      background: linear-gradient(310deg,#F021B2 0%,#701053  100%);
      transition:.5s  cubic-bezier(0.075, 0.82, 0.165, 1);
    }

     
    #btn_jaune{
      background:#CDA323;
      transition:.5s  cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    #btn_jaune:hover{
      background: linear-gradient(310deg,#CDA323 0%,#8B6914  100%);
      transition:.5s  cubic-bezier(0.075, 0.82, 0.165, 1);
    }


    .burger_line{
      width: 100%;
      height: 2px;
      border-radius: 20px;
      margin-bottom:2px;
      background-color: var(--text-black-900);
    }


    .burger_line::before{
      content: '';
      width: 100%;
      height: 2px;
      border-radius: 20px;
      margin-bottom:2px;
      background-color: var(--text-black-900);
      position: absolute;
      top: -5px;
      left: 0;
      transition: ease-in .3s;
      -webkit-transition: ease-in .3s;
      -moz-transition: ease-in .3s;
      -ms-transition: ease-in .3s;
      -o-transition: ease-in .3s;
    }

    .burger_line::after{
      content: '';
      width: 100%;
      height: 2px;
      border-radius: 20px;
      margin-bottom:2px;
      background-color: var(--text-black-900);
      position: absolute;
      top: 5px;
      left: 0;
      transition: ease-in .3s;
      -webkit-transition: ease-in .3s;
      -moz-transition: ease-in .3s;
      -ms-transition: ease-in .3s;
      -o-transition: ease-in .3s;
    }
  
    .burger_line.active::before{
      content: '';
      width: 100%;
      height: 2px;
      border-radius: 20px;
      margin-bottom:2px;
      background-color: var(--text-black-900);
      position: absolute;
      top: -5px;
      left: 5px;
      transition: ease-in .3s;
      -webkit-transition: ease-in .3s;
      -moz-transition: ease-in .3s;
      -ms-transition: ease-in .3s;
      -o-transition: ease-in .3s;
    }

    .burger_line.active::after{
      content: '';
      width: 100%;
      height: 2px;
      border-radius: 20px;
      margin-bottom:2px;
      background-color: var(--text-black-900);
      position: absolute;
      top: 5px;
      left: 5px;
      transition: ease-in .3s;
      -webkit-transition: ease-in .3s;
      -moz-transition: ease-in .3s;
      -ms-transition: ease-in .3s;
      -o-transition: ease-in .3s;
    }

    /* navigateur publics */


    .logosPublic img{

      height:54px ;
  }
  
  .nav-list li {
      font-size: 14px;
      line-height: auto;
      position: relative;
  }
  
  .sub-menu li{
      line-height: 2.5rem;
  }
  
  .nav-list a{
      display: block;
      position: relative;
      width: 100%;
      align-items: center;
  }
  
  .nav-list a:hover{
      color: var(--skin--color2);
  }
  
  .sub-menu{
      background-color: var(--bg-black-100);
      border-top: 3px solid var(--skin--color2);
      transition:all 250ms ease ;
      -webkit-transition:all 250ms ease ;
      -moz-transition:all 250ms ease ;
      -ms-transition:all 250ms ease ;
      -o-transition:all 250ms ease;
      opacity: 0;
      visibility:hidden  ;
      
  }
  
  .sub-menu li{
   list-style: none;
}

  .sub-menu li:hover{
      background-color: var(--skin--color2);
  }
  
  .sub-menu li:hover a{
      color: white;
  }
  
  .sub-menu li:hover ul li a{
      color: var(--text-black-900);
  }
  
  .sub-menu::before{
      content: '';
      position: absolute;
      top: -1rem;
      left: 1rem;
      border: solid 0.5rem transparent;
      border-bottom: 0.5rem solid ;
  }
  
  .sub-menu .sub-menu::before{
      top: 0.6rem;
      left: -1rem;
      border: solid 0.5rem transparent;
      border-right-color: var(--skin--color2);
  }
  
  .sub-menu .sub-menu{
      border-top: none ;
      border-left: 3px solid var(--skin--color2);
  }
  
  .nav-list li:hover>.sub-menu{
      top: 0.1rem;
      opacity: 1;
      visibility: visible;
  }
  
  
  .sub-menu li:hover>.sub-menu{
      top: -1.5rem;
    
  }
  
  .sub-menu .sub-menu li:hover a{
      color: white;
  }
  
  .menu-icons{
      display: none;
  }
  

  /* footer */
  .footer-section {
    background:rgb(7, 5, 5);
  }

  .footer-cta {
    border-bottom: 1px solid #373636;
  }

  .single-cta i {
    color: var(--skin--color1);
    font-size: 30px;
    float: left;
    margin-top: 8px;
  }

  .cta-text {
    padding-left: 15px;
    display: inline-block;
  }

  .cta-text h4 {
    color: whitesmoke;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  
  .cta-text span {
    color: #757575;
    font-size: 15px;
  }

  .img-fluid{
    width: 200px;
    text-align: center
  }

  .footer-content {
    position: relative;
    z-index: 2;
  }
  .footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
  }
  .footer-logo {
    margin-bottom: 30px;
  }
  .footer-logo img {
      max-width: 200px;
  }
  .footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
        color: #7e7e7e;
    line-height: 28px;
  }
  .footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
  }
  .footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
  }

  .footer-social-icon i {
    color: #fff;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
  }

  .facebook-bg{
    background: #3B5998;
  }
  .twitter-bg{
    background: #55ACEE;
  }
  .linkedin-bg{
    background: #087bb9;
  }

  .footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
  }
  .footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    height: 2px;
    width: 90%;
    background: var(--skin--color1);
  }

  .footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
  }
  .footer-widget ul li a:hover{
    color: var(--skin--color1);
  }
  .footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
  }
  .subscribe-form {
    position: relative;
    overflow: hidden;
  }
  .subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
  }
  .subscribe-form button {
      position: absolute;
      right: 0;
      background: var(--skin--color1);
      padding: 13px 20px;
      border: 1px solid var(--skin--color2);
      top: 50%;
      transform: translateY(-80%);
  }

  .subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
  }
  .copyright-area{
    background: #202020;
    padding: 25px 0;
  }
  .copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
  }

  .footer-menu li {
    display: inline-block;
    margin-left: 20px;
  }
 
  
   /* ==========================================================================
      tableau de bord customisation
    ========================================================================== */
    
    .dash_card{
      padding: 5px 10px;
      box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
      word-wrap: break-word;
      background-color: var(--bg-black-100);
      background-clip: border-box;
    }

    .dash_card .icon_shape{
      color: white;
    }

    #countCreation{
      background: linear-gradient(310deg,#A61B1B  0%,#5C0404  100%);
    }

    #countUser{
      background: linear-gradient(310deg,#1F9B4F  0%,#184E29  100%);
    }

    #countAttente{
      background: linear-gradient(310deg,#F021B2  0%,#701053  100%);
    }

    #countPublier{
      background: linear-gradient(310deg,#CDA323  0%,#8B6914  100%);
    }

    .card_body{
      background-color: var(--bg-black-100);
    }

    /*--------------------date et heure--------------------*/
    .dash_user_utilite{
      background-color: var(--bg-black-100);
    }
    
    
    
    .dash_date_clock{
      border: 3px solid white;
      border-radius: 20px;

    }

    .dash_clock .clock{
      border: 3px solid white;
      border-radius: 50%;
      background:linear-gradient(to bottom,var(--skin--color1),var(--skin--color2));
    
    }

    .dash_hour,.dash_minute,.dash_second{
      --rotate: 0;
      position: absolute;
      left: 50%;
      bottom: 50%;
      transform: translate(-50%) rotate(calc(var(--rotate)* 1deg));
      transform-origin: bottom;
      border-radius: 2px;
    }
      
    /* ==========================================================================
      customisation
    ========================================================================== */
    .tab_switch input { 
      display:none;
    }

    .tab_switch {
        display:inline-block;
        width:50px;
        height:14px;
        margin:5px;
        position:relative;
    }
  
  .tab_slider {
      position:absolute;
      top:0px;
      bottom:0;
      left:0;
      right:0;
      border-radius:20px;
      background: rgb(244, 175, 175);
      cursor:pointer;
      border:4px solid transparent;
      overflow:visible;
      -webkit-transition:.4s;
      transition:.4s;
  }

  .tab_slider:before {
      position:absolute;
      content:"";
      width:22px;
      height:22px;
      background:#706F6F;
      border-radius:100px;
      top: -8px;
      -webkit-transform:translateX(-22px);
      transform:translateX(-22px);
      -webkit-transition:.4s;
      transition:.4s;
      -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.23);
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.23);
  }
  
  .tab_switch input:checked + .tab_slider:before {
      -webkit-transform:translateX(0px);
      transform:translateX(0px);

  }

  .tab_switch input:checked + .tab_slider {
    -webkit-transform:translateX(0px);
    transform:translateX(0px);
    background:#43AD50;
}
  


  
    
    .table_content{
      background: var(--bg-black-100); 
    }

    .table_filter{
      border-bottom: 1px solid var(--bg-black-50);
      font-family: var(--font-family);       
    }

    .table_filter div{
      padding: 0 30px;
      margin:0px
    }

    .link-active{
      color: var(--skin--color1);
      font-weight: 500;
    }

    .table_search{
      grid-template-columns: minmax(150px, auto) minmax(180px, 1fr);        
    }

    .search_select {
      appearance: none;
      background: var(--skin--color1);
      color: white;
      border-top: 1px solid var(--bg-black-50);
      border-left: 1px solid var(--bg-black-50);
      border-bottom: 1px solid var(--bg-black-50);
    }

    .search_input{
      color: var(--text-black-700);
      border-top: 1px solid var(--bg-black-50);
      border-right: 1px solid var(--bg-black-50);
      border-bottom: 1px solid var(--bg-black-50);
      font-family: var(--font-family);
    }
    
    .pagination {
      color: var(--text-black-700);
    }
    
    .pagination a {
      color: var(--text-black-900);
      float: left;
      margin-top:10px;
      padding: 8px 16px;
      text-decoration: none;
    }
      
    .active-page:hover {
      background:var(--bg-black-900);
      color: var(--text-light); 
    }

    .paginate-icon {
      cursor: pointer;
      opacity: 0.7; 
      font-family: "Font Awesome 5 Free";
      color: var(--text-light);
    }
  

    /* ==========================================================================
    publication styles customiser
    ========================================================================== */
    .table_publi_head {
      border-bottom: 1px solid var(--bg-black-50);
      grid-template-columns: 120px 120px 120px 120px 120px 120px 120px;
      font-family: var(--font-family);
      background: var(--skin--color2);
      color: white;
    }

    .table_publi_body .tab_content{
      border-bottom: 1px solid var(--bg-black-50);
      color: var(--text-black-700);
      background-color: var(--bg-black-900);
      grid-template-columns: 120px 120px 120px 120px 120px 120px 100px;  
      font-family: var(--font-family);
      margin-bottom: 0;
    }

    .table_publi_body .tab_content:nth-child(odd):hover,
    .table_publi_body .tab_content:nth-child(odd):hover div a,
    .table_publi_body .tab_content:nth-child(odd):hover div[data-title]:before, 
    .table_publi_body .tab_content:nth-child(odd):hover p[data-title]:before{
      background-color: var(--skin--color1);
      color: white;
    }
    .table_publi_body .tab_content:nth-child(even):hover,
    .table_publi_body .tab_content:nth-child(even):hover div a,
    .table_publi_body .tab_content:nth-child(even):hover div[data-title]:before, 
    .table_publi_body .tab_content:nth-child(even):hover p[data-title]:before{
      background-color: var(--skin--color2);
      color: white;
    }
   

    .table_responsive .table_publi_head {
      border-bottom: 1px solid var(--bg-black-50);
      grid-template-columns:220px 140px 140px 120px 120px 200px;
      font-family: var(--font-family);
      background-color: var(--skin--color2);
      color: white;
      width: 788px;
    }

    .table_responsive .table_publi_body .tab_content{
      border-bottom: 1px solid var(--bg-black-50);
      color: var(--text-black-700);
      background-color: var(--bg-black-900);
      grid-template-columns:220px 140px 140px 120px 120px;
      margin-bottom: 0;
    }

    .table_responsive .table_publi_body .tab_content:nth-child(odd):hover,
    .table_responsive .table_publi_body .tab_content:nth-child(odd):hover div a,
    .table_responsive .table_publi_body .tab_content:nth-child(odd):hover div[data-title]:before, 
    .table_responsive .table_publi_body .tab_content:nth-child(odd):hover p[data-title]:before{
      background-color: var(--skin--color1);
      color: white;
    }
    .table_responsive .table_publi_body .tab_content:nth-child(even):hover,
    .table_responsive .table_publi_body .tab_content:nth-child(even):hover div a,
    .table_responsive .table_publi_body .tab_content:nth-child(even):hover div[data-title]:before, 
    .table_responsive .table_publi_body .tab_content:nth-child(even):hover p[data-title]:before{
      background-color: var(--skin--color2);
      color: white;
    }
    
    .card{
      grid-template-columns: 1fr minmax(auto, 500px);
      color: var(--text-black-900);
      font-family: var(--font-family);
    }

    .card div {
      background: var(--bg-black-100);
      border: 1px solid var(--bg-black-50);
      box-shadow: 0 6px 13px -12px rgb(50 50 93 / 20%), 0 3px 7px -3px rgb(110 110 110 / 10%);
      border-radius: 4px;
      padding: 20px;
      }

      .autre_media{
        width: 100px; 
        height: 80px;
      }
      

      .affich_publi h2{
          color: var(--skin--color1);
      }

      .affich_click img{
       width: 100%;
       height: 672px;
    }


      .public_card {
        z-index: 1;
        min-width: 270px;
        height: 470px;
        box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
        border-radius: 0.375rem;
        transition: all 0.3s ease;
    }
    
    .public_card:hover {
        box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2)
    }
    
    .public_card .card-thumbnail {
        background: #000000;
        height: 400px; 
        overflow: hidden;
    }
    
    .public_card .card-thumbnail img {
        display: block;
        width: 100%;
        height: 100%;
        -webkit-transition: all .3s cubic-bezier(0, .5, .5, 1);
        -o-transition: all .3s cubic-bezier(0, .5, .5, 1);
        transition: all .3s cubic-bezier(0, .5, .5, 1);
    }
    
    .public_card:hover .card-thumbnail img {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        transform: scale(1.1);
        opacity: .6;
    }
    
    .fa-paper-plane:before {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    .public_card .card-content {
        position: absolute;
        bottom: 0;
        background: var(--bg-black-100);
        width: 100%;
        padding: 40px 30px;
        -webkti-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
        -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
        -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
        -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
        transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    }
    
    .public_card .card-content .send {
        position: absolute;
        top: -30px;
        right: 10px;
        height: 60px;
        width: 60px;
        background: var(--skin--color1);
        border-radius: 50%;
        cursor: pointer;
        transition: all 1s ease;
        transition-delay: 0.3s;
        opacity: 0;
    }
    
    .public_card:hover .card-content .send {
        opacity: 1;
    }
    
    .public_card .card-content .card-title {
        margin: 0;
        padding: 0 0 10px;
        color: var(--text-black-900);
        font-size: 20px;
        font-weight: 700;
        text-transform: capitalize;
    }
    
    .public_card .card-content .card-sub-title {
        margin: 0;
        padding: 0 0 20px;
        color: #197;
        font-size: 15px;
        font-weight: 400;
        text-transform: capitalize;
    }
    
    .public_card .card-content .description {
        color: #666666;
        font-size: 12px;
        line-height: 1.8em;
        display: none;
        /* height: 0px; */
    }
    
    .public_card .card-content .post-meta {
        margin: 30px 0 0;
        color: #999999;
    }
    
    .public_card .card-content .post-meta .time-stamp {
        margin: 0 80px 0 0;
    }
    
    .public_card .card-content .post-meta a {
        color: inherit;
        text-decoration: none;
    }



    .case_publi{
      background-color: whitesmoke;
      color: #000000;
    }

    .case_publi h2{
      color: var(--skin--color2);
    }

    .case_publi h3{
      color: var(--skin--color1);
    }


    /* ==========================================================================
      user styles customiser
    ========================================================================== */
    .table_user_head {
      border-bottom: 1px solid var(--bg-black-50);
      grid-template-columns: 120px 160px 120px 100px 120px 100px 100px;
      font-family: var(--font-family);
      background: var(--skin--color2);
      color: white;
    }

    .table_user_body .tab_content{
      border-bottom: 1px solid var(--bg-black-50);
      color: var(--text-black-700);
      background-color: var(--bg-black-900);
      grid-template-columns: 120px 160px 120px 100px 120px 100px 100px;
      font-family: var(--font-family);
      margin-bottom: 0;
    }

    .table_user_body .tab_content:nth-child(odd):hover,
    .table_user_body .tab_content:nth-child(odd):hover a,
    .table_user_body .tab_content:nth-child(odd):hover div[data-title]:before, 
    .table_user_body .tab_content:nth-child(odd):hover p[data-title]:before{
      background-color: var(--skin--color1);
      color: white;
    }
    .table_user_body .tab_content:nth-child(even):hover,
    .table_user_body .tab_content:nth-child(even):hover a,
    .table_user_body .tab_content:nth-child(even):hover div[data-title]:before, 
    .table_user_body .tab_content:nth-child(even):hover p[data-title]:before{
      background-color: var(--skin--color2);
      color: #ffffff;
    }


    .user_profil_cards{
      background-color: var(--skin--color2);
    }

    .user_profil .card{
      width: 800px;
    }

    /* ==========================================================================
      part styles customiser
    ========================================================================== */
    .table_part_head {
      border-bottom: 1px solid var(--bg-black-50);
      grid-template-columns: 60px 260px 120px 100px 120px 160px;
      font-family: var(--font-family);
      background: var(--skin--color2);
      color: white;
    }

    .table_part_body .tab_content{
      border-bottom: 1px solid var(--bg-black-50);
      color: var(--text-black-700);
      background-color: var(--bg-black-900);
      grid-template-columns: 60px 260px 120px 100px 120px 160px;
      font-family: var(--font-family);
      margin-bottom: 0;
    }

    .table_part_body .tab_content:nth-child(odd):hover,
    .table_part_body .tab_content:nth-child(odd):hover a,
    .table_part_body .tab_content:nth-child(odd):hover div[data-title]:before, 
    .table_part_body .tab_content:nth-child(odd):hover p[data-title]:before{
      background-color: var(--skin--color1);
      color: white;
    }
    .table_part_body .tab_content:nth-child(even):hover,
    .table_part_body .tab_content:nth-child(even):hover a,
    .table_part_body .tab_content:nth-child(even):hover div[data-title]:before, 
    .table_part_body .tab_content:nth-child(even):hover p[data-title]:before{
      background-color: var(--skin--color2);
      color: #ffffff;
    }

    .table_part_body .tab_content img{
      width: 40px;
      height: 40px;
      border-radius: 100%;

    }

    .part_card {
      background-color: var(--bg-black-50);
      box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    }

    .part_card:hover .card__image{ 
        filter: contrast(100%);
    }

  .card__content {
    flex: 1 1 auto;
  }

  .card_image {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%),saturate(180%);
    transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
  }

  .card_image::before {
      content: "";
      display: block;
      padding-top: 56.25%; 
    }
   
    
  .card_title {
    color: var(--skin--color1);
    letter-spacing: 2px;
    transition:  0.5s cubic-bezier(.43,.41,.22,.91);
  }

  .card_title:hover {
    color: var(--skin--color1);
    font-weight: 900;
    letter-spacing: 3px;
    transition:  0.5s cubic-bezier(.43,.41,.22,.91);
  }

  .card_text {
    flex: 1 1 auto;
    line-height: 1.5;
  }


     /* ==========================================================================
      public page
    ========================================================================== */
    /* Acceuil */
    .public_main{
      margin: auto;
    }

    .public_main .title{
      position: relative;
      margin-bottom: 20px;
    }

    .public_main .title::after{
      position: absolute;
      content: '';
      width: 30px;
      height: 5px;
      bottom: -15px;
      left: 12px;
      background-color: var(--skin--color1);
    }
    .public_main .title::before{
      position: absolute;
      content: '';
      width: 100px;
      height: 5px;
      bottom: -5px;
      left: 12px;
      background-color: var(--skin--color1);
    }

    

     /* ==========================================================================
      Media queries
    ========================================================================== */
    @media screen and (max-width: 1500px) {
      .user_profil{
        margin-left: 10px;
        margin-right: 10px;
      }
      .user_profil .card{
        width:99%;
      }
    }

    @media screen and (max-width: 1200px) {
      .aside{
        transform: translateX(-19rem);
      }

      .menu_resp{
        display: block;
      }

      .aside.show_menu{
        transform: translateX(0);
      }

      main{
        max-width: 106rem;
        margin-left:auto;
        margin-right: auto;
      }
    }
  
  
    @media screen and (max-width: 900px) {

      /* navbar public */
        .logosPublic{
            top: 30px;
          
            font-size: 20px;
           
        }
    
        .nav-list li{
            font-size: 17px;
        }
    
        .nav-list{
            position: fixed;
            top: 60px;
            left: 0;
            height: 100vh;
            padding-top: -300px;
            flex-direction: column;
            background-color: var(--bg-black-100);
            z-index: 1000;
            display: none;
            overflow-y:scroll;
            width: 100%;
            justify-content: start;
        }
    
        .sub-menu{
            position: initial;
            border: 3px solid transparent;
            margin-left: 1rem;
            max-height: 0;
            background: var(--bg-light);
            overflow: hidden;
            margin-right: 0.4rem;
            width: 50%;
        }
    
        .sub-menu .sub-menu{
            border:none;
            overflow: hidden;
            margin-right: 0.4rem;
            width: 100%;
        }
    
        .sub-menu li:hover{
            background-color:transparent;
        }
        
        .sub-menu li:hover a{
            color: var(--skin--color2);
        }
        
        .sub-menu li:hover ul li a{
            color: var(--text-black-900);
        }
    
        .sub-menu .sub-menu li:hover a{
            color: var(--skin--color2);
        }
    
        .sub-menu::before{
            display: none;
        }
    
        .nav-list li:hover > .sub-menu{
            opacity: 1!important ;
            visibility: visible !important ;
            max-height: initial;
        }
    
        li.move-right{
            margin: 0 auto 0 1rem;
            line-height: initial;
        }
    
        .menu-icons{
            display: block;
        }
    
        .fa-times{
            display: none;
        }
        /* affichage menu sur phone */
        nav.active .fa-times{
            display: block;
        }
    
        nav.active .fa-bars{
            display: none;
        }
    
        nav.active .nav-list{
            display: flex;
        }
    

      /* fin navbar public */

    .card{
      grid-template-columns: 1fr minmax(450px, 450px);
      color: var(--text-black-900);
      font-family: var(--font-family);
      margin-left: 20px;
      margin-right: 20px;
    }


    .table_publi_head{
      display: none;
    }

    .table_publi_body{
      display:block;
      vertical-align: middle;
      text-align: right;
      height: 40px;
      line-height: 50px;
    }


    .table_publi_body .tab_content{
      display:block;
      vertical-align: middle;
      text-align: right;
      line-height: 50px;
      padding-right: 20px;
      padding-left: 20px;
      margin-bottom: 0px;
      height: auto;
      border-bottom: 2px solid var(--skin--color1);
   
    }


    .table_publi_body .tab_content:nth-child(odd) {
      background-color: var(--bg-black-50);
    
    }

    .table_publi_body .tab_content:nth-child(odd):hover,
    .table_publi_body .tab_content:nth-child(odd):hover div a,
    .table_publi_body .tab_content:nth-child(odd):hover div[data-title]:before, 
    .table_publi_body .tab_content:nth-child(odd):hover p[data-title]:before{
      background-color: var(--skin--color1);
      color: white;
    }
    .table_publi_body .tab_content:nth-child(even):hover,
    .table_publi_body .tab_content:nth-child(even):hover div a,
    .table_publi_body .tab_content:nth-child(even):hover div[data-title]:before, 
    .table_publi_body .tab_content:nth-child(even):hover p[data-title]:before{
      background-color: var(--skin--color2);
      color: white;
    }

    


    .table_publi_body div[data-title]:before, 
    .table_publi_body p[data-title]:before {
      content: attr(data-title);
      float: left;
      font-size:16px;
      font-weight:400;
      color: var(--text-black-900);
      padding-left: 20px;
      box-sizing: initial;
    }


    .btn_modif_supr div:nth-child(1){
      display: flex;
      gap: 2px;
      justify-content: flex-end;
    }

  }

  @media screen and (max-width: 850px) {
    .card{
      display: block;
      color: var(--text-black-900);
      font-family: var(--font-family);
      margin-left: 20px;
      margin-right: 20px;
    }

    .card div {
      margin-bottom: 20px;
      }
  }

  @media screen and (max-width: 640px) {
    button,
    input[type="submit"],
    input[type="reset"] {
      width: calc(100% - 20px);
      margin-left: 20px;
      margin-right: 20px;
    }


    .btn_modif_supr div:nth-child(1){
      display: flex;
      gap: 2px;
      margin-right: 40px;
      
    }

    .btn_modif_supr button{
      width: 50px;
    }
  }

  @media screen and (max-width: 478px) {
    .canvasUser {
      display: block;
    }

  }



  @media(min-width: 56rem) {
    .cards__item{
      width: 33.3333%;
    }
  }

  @media(min-width: 40rem) {
    .cards__item{
      width: 50%;
    }
    .card_image::before {
      padding-top: 66.6%;
    }
  }
